body{
    font-family: 'Roboto', sans-serif;
}
input[type="text"]{
    padding: 15px;
    width: 50%;
}

input[type="radio"]{
    margin-bottom: 3rem;
    font-size: 14px;
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
}
label{
    font-size: 28px;
    font-family: bold;
    margin-right: 2rem;
}

.access_btn {
    padding: 50px 160px;
}
.play_btn{
    padding: 15px 15px ;
    font-size: 14px;
}



.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1 {
    font-family: "sans-serif";
    background-color: #57636e;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 50px;
}
/* .quiz_progress{
    text-align: center;
    font-size: 10px;
} */
.grid p {
    font-family: "sans-serif"; 
    text-align: center;
    color: #57636e;
}